h1.pos_left
{
position:relative;
left:-5000px;
}
h1.pos_right
{
position:relative;
left:20px;
}


#startgamebutton{
    height:150px; 
    width:200px; 
    margin: 50px -50px; 
    position:relative;
    top:50%; 
    left:50%;
     font-size: 300%;
}

#femalebutton{ height:80px; 
    width:100px; 
    margin: 50px -50px; 
    position:relative;
    top:50%; 
    left:66%;
     font-size: 150%;
     }

#malebutton{ height:80px; 
    width:100px; 
    margin: 50px -50px; 
    position:relative;
    top:50%; 
    left:33%;
     font-size: 150%;
     }
#tigertextboxlabel
{
    font-size: 150%;


}

#charactersubmit
{
    height:80px; 
    width:100px; 
    margin: 50px -50px; 
    position:relative;
    top:50%; 
    left:50%;
     font-size: 150%;
}

#storypage
{
  font-size: 150%
  }
  
  
#junglepic
{
  height:50%;
  width:50%;
  }


#helppage
{
  position: fixed;
  bottom:0;
  right:50;
  height:50px; 
  width:300px; 
font-size: 150%;
  font-color:black;

}


#sadface
{
height:60%;
width:60%;
}

#cubpic
{
  height:60%;
  width:60%;


}